<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Balanced Scorecard
      <small>BSC</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">Balanced Scorecard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="box-body">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="small-box bg-green color-palette">
            <div class="inner">
              <h3>Financiero</h3>
              <p>Para tener éxito financiero, como deberiamos aparecer ante nuestros inversionistas?</p>
            </div>
            <div class="icon">
              <i class="fa fa-chart-line"></i>
            </div>
            <a routerLink="/admin/financial" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="small-box bg-red color-palette">
            <div class="inner">
              <h3>Cliente</h3>
              <h3><br></h3>
              <p>Para alcanzar nuestro objetivo, como deberiamos ser vistos por los clientes?</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a routerLink="/admin/clients" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="small-box bg-light-blue-active color-palette">
            <div class="inner">
              <h3> Visión y </h3>
              <h3> Estrategia </h3>
              <h3> <br> </h3>
            </div>
            <div class="icon">
              <i class="fa fa-rocket"></i>
            </div>
            <a class="small-box-footer"><br></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="small-box bg-aqua color-palette">
            <div class="inner">
              <h3>Procesos </h3>
              <h3>Internos</h3>
              <p>Para satisfacer a los clientes, en que procesos debemos sobresalir?</p>
            </div>
            <div class="icon">
              <i class="fa fa-cogs"></i>
            </div>
            <a routerLink="/admin/internal" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="small-box bg-purple color-palette">
            <div class="inner">
              <h3>Aprendizaje y </h3>
              <h3>Crecimiento</h3>
              <p>Para alcanzar nuestro objetivo, cómo mantener la habilidad de cambiar y progresar?</p>
            </div>
            <div class="icon">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <a routerLink="/admin/learning" class="small-box-footer">
              More info <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
