<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>D’ROCHA</b> S.A</a>
  </div>
  <!--/.login-logo-->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresa tus datos para Iniciar Sesión</p>
    <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Holy guacamole!</strong>
      <br>Usuario o Contraseña incorrecto.
    </div>
    <form [formGroup]="f" novalidate>
      <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['email'].valid,
      'has-error': f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)}">
      <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Email">
      <span *ngIf="f.controls['email'].valid" aria-hidden="true"></span>
      <span *ngIf="f.controls['email'].invalid && (f.controls['email'].touched || f.controls['email'].dirty)">
        <span class="text-danger">E-mail inválido.</span>
      </span>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['password'].valid,
    'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
    <input type="password" formControlName="password" class="form-control" id="InputPassword" placeholder="Password">
    <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">Campo obligatorio.</span>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="checkbox icheck">
        <label>
          <input type="checkbox" name="remember" > Recordarme
        </label>
      </div>
    </div>
    <!-- /.col -->
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-round" [disabled]="f.invalid" (click)="onSubmit()">Log in</button>
    </div>
    <!-- /.col -->
  </div>
</form>
<a href="#" class="btn btn-link">I forgot my password</a><br>
<a href="/auth/register" class="btn btn-link">Register a new membership</a>
</div>
</div>
