<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Usuarios
        <small>Registrar Usuario</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Balanced Scorecard</a></li>
        <li><a><i class="fa fa-user-circle"></i> Administración</a></li>
        <li><a><i class="fa fa-user"></i> Usuarios</a></li>
        <li class="active">Creación de usuarios</li>
      </ol>
    </section>
    <section class="content">
      <div class="panel-body">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Creación de usuarios</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <div>
            <div class="box-body">
              <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input [(ngModel)]="user.email" type="text" class="form-control" id="email" placeholder="Ingresar E-mail" required>
              </div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input [(ngModel)]="user.name" type="text" class="form-control" id="name" placeholder="Ingresar nombre" required>
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input [(ngModel)]="user.password" type="text" class="form-control" id="password" placeholder="Ingresar contraseña" required>
              </div>
              <!-- <div class="form-group">
                <label>Perfil</label>
                <select name="role_id" class="form-control select2" style="width: 100%;">
                  <option value="">Seleccione Perfil</option>
                  <option value=""></option>
                </select>
              </div> -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="row">
                <div class="col-md-1">
                    <a class="btn btn-primary" routerLink="/admin/users">
                      <i class="fa fa-users"></i>
                      Usuarios Registrados
                      <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-1">
                    <button (click)="addUser()" class="btn btn-primary">
                        <i class="fa fa-user-plus"></i>
                      Registrar Usuario
                    </button>
                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
    </section>
  </div>
