<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Balanced Scorecard
      <small>BSC</small>
    </h1>
    <ol class="breadcrumb">
    <li><a [routerLink]="['/admin/dashboard1']"><i class="fa fa-balance-scale"></i>Balanced Scorecard</a></li>
      <li class="active">Procesos Internos de la Empresa</li>
    </ol>
  </section>
  <section class="content">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Procesos Internos de la Empresa</h3>
              <h4 class="box-body"><small>Para satisfacer a los clientes, ¿En que procesos se debe sobresalir?</small></h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form class="form-horizontal">
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">Nombre</label>
                          <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" value="" placeholder="Escribe el nombre del objetivo...">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="name" class="col-sm-2 control-label">Descripción</label>
                          <div class="col-sm-10">
                              <textarea class="form-control" rows="3" placeholder="Escribe una descripción del objetivo..."></textarea>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                    <div class="box box-info collapsed-box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Nuevo Indicador</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body" style="display: none;">
                        <div id="newIndicator" class="form-group">
                          <label for="name" class="col-sm-2 control-label">Indicador</label>
                          <div  class="input-group col-sm-9">
                            <input id="inputeste" type="text" class="form-control" placeholder="Escribe un nuevo indicador...">
                            <span class="input-group-btn">
                                <a class="btn btn-info" href="javascript:void(0)" id="addIndicator">
                                  <i class="fa fa-plus-circle"></i>
                                </a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                    <div class="box box-warning collapsed-box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Nueva Meta</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body" style="display: none;">
                        <div id="newGoal" class="form-group">
                          <label for="name" class="col-sm-2 control-label">Meta</label>
                          <div  class="input-group col-sm-9">
                            <input id="inputeste" type="text" class="form-control" placeholder="Escribe una nueva meta...">
                            <span class="input-group-btn">
                                <a class="btn btn-info" href="javascript:void(0)" id="addGoal">
                                  <i class="fa fa-plus-circle"></i>
                                </a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-10">
                    <div class="box box-success collapsed-box">
                      <div class="box-header with-border">
                        <h3 class="box-title">Nueva Iniciativa</h3>
                        <div class="box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                          </button>
                        </div>
                        <!-- /.box-tools -->
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body" style="display: none;">
                        <div id="newInitiative" class="form-group">
                          <label for="name" class="col-sm-2 control-label">Iniciativa</label>
                          <div  class="input-group col-sm-9">
                            <input id="inputeste" type="text" class="form-control" placeholder="Escribe una nueva iniciativa...">
                            <span class="input-group-btn">
                                <a class="btn btn-info" href="javascript:void(0)" id="addInitiative">
                                  <i class="fa fa-plus-circle"></i>
                                </a>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="box-footer">
              <table id="example" class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th>Objetivos</th>
                          <th>Indicadores</th>
                          <th>Metas</th>
                          <th>Iniciativas</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Objetivos</th>
                          <th>Indicadores</th>
                          <th>Metas</th>
                          <th>Iniciativas</th>
                      </tr>
                  </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

      </div>
    </div>
  </section>

</div>
