<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Usuarios
      <small>Roles de Usuario</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="admin/dashboard1"><i class="fa fa-dashboard"></i> Balanced Scorecard</a></li>
      <li><a><i class="fa fa-user-circle"></i> Administración</a></li>
      <li class="active">Roles de Usuario</li>
    </ol>
  </section>
  <section class="content">
    <div class="panel-body">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Roles de usuario</h3>
        </div>
        <form>
          <div class="box-body">
            <div class="form-group">
              <label for="name">Nombre del perfil</label>
              <div class="input-group">
                <input [(ngModel)]="role.name" type="text" name="name" class="form-control" value="">
                <div class="input-group-btn">
                  <button class="btn btn-primary">
                    <i class="fa fa-user-plus"></i>
                    Crear nuevo perfil
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </form>
        <div class="box-body">
          <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="roles?.length != 0">
              <tr *ngFor="let role of roles">

                <td>{{role.name}}</td>
                <td style="text-align:center">
                  <a href="" class="btn btn-sm btn-success" title="Restaurar">
                    <i class="fa fa-undo"></i>
                  </a>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modalEditRole" title="Editar" data-profile="">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <a href="" class="btn btn-sm btn-danger" title="Dar de baja">
                    <span class="fa fa-user-times"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="roles?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="modalEditProfile">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Editar Perfil</h4>
          </div>
          <form>
            <div class="modal-body">
              <input type="hidden" name="profile_id" id="profile_id" value="">
              <div class="form-group">
                <label for="name">Nombre del perfil</label>
                <input type="text" class="form-control" name="name" id="profile_name" value="">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
</div>
