<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Usuarios
      <small>Registrar Usuario</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Balanced Scorecard</a></li>
      <li><a><i class="fa fa-user-circle"></i> Administración</a></li>
      <li><a><i class="fa fa-user"></i> Usuarios</a></li>
      <li class="active">Creación de usuarios</li>
    </ol>
  </section>
  <section class="content">
    <div class="panel-body">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Registrar Usuario</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>E-mail</th>
                <th>Nombre</th>
                <th>Perfil</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody *ngIf="users?.length != 0">
              <tr *ngFor="let user of users">
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td>{{user.role_id}}</td>
                <td style="text-align:center">
                  <a href="" class="btn btn-sm btn-primary" title="Editar">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="" class="btn btn-sm btn-danger" title="Dar de baja">
                    <span class="fa fa-user-times"></span>
                  </a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="users?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            <tbody>
            <tfoot>
                <tr>
                    <th>E-mail</th>
                    <th>Nombre</th>
                    <th>Perfil</th>
                    <th>Opciones</th>
                  </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
