<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Perfil de Usuario
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="admin">
          <i class="fa fa-dashboard"></i>Home</a>
        </li>
        <li class="active">Perfil de Usuario</li>
      </ol>
    </section>
    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img src="{{user?.avatar}}" class="profile-user-img img-responsive img-circle" alt="{{user?.name}}">

              <h3 class="profile-username text-center">{{user?.name}}</h3>

              <p class="text-muted text-center">{{user?.role}}</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Objetivos Registrados</b> <a class="pull-right">Falta*</a>
                </li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Acerca de mi</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-at margin-r-5"></i> Correo electrónico</strong>
              <p class="text-muted">
                {{user?.email}}
              </p>
              <hr>
              <strong><i class="fa fa-user margin-r-5"></i> Nombre completo</strong>
              <p class="text-muted">
                {{user?.name}}
              </p>
              <hr>
              <strong><i class="fa fa-id-card margin-r-5"></i> ID de usuario</strong>
              <a class="text-muted pull-right">{{user?.id}}</a>
              <hr>
              <strong><i class="fa fa-user-secret margin-r-5"></i> Rol de usuario</strong>
              <span class="pull-right label label-success">{{user?.role}}</span>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Objetivos Registrados</a></li>
              <li><a href="#settings" data-toggle="tab">Configuración</a></li>
            </ul>

            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <p></p>
                <div class="box box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <img class="img-circle" src="{{user?.avatar}}" alt="{{user?.name}}">
                      <span class="username">nombre del que registro el objetivo</span>
                      <span class="description">FAlta <a href="#">falta</a></span>
                      <span class="description">falta</span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <!-- post text -->
                    FaltAAAAAAAAAAAAAAAAAAAAAAA
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <div class="tab-pane" id="settings">
                <form [formGroup] novalidate class="form-horizontal">
                  <div class="box box-widget widget-user-2">
                    <div class="widget-user-header bg-yellow">
                      <div class="widget-user-image">
                        <img class="img-circle" src="{{user?.avatar}}" alt="{{user?.name}}">
                      </div>
                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username">{{user?.name}}</h3>
                      <h5 class="widget-user-desc">{{user?.role}}</h5>
                      <div class="form-inline">
                        <br>
                        <label for="avatar">Subir Imagen</label>
                        <input type="file" name="avatar">

                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Nombre</label>

                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" name="email" class="form-control" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-sm-10">
                      <input type="text" name="password" class="form-control" value="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- /.content -->
  </div>
