<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src='{{ auth.getUser().avatar }}' class="img-circle" alt="{{ auth.getUser().name }}">
      </div>
      <div class="pull-left info">
        <p>{{ auth.getUser().name }}</p>
        <p><small>{{ auth.getUser().role }}</small></p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">PANEL DE ADMINISTRADOR</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-user-shield"></i> <span>Administrador</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="treeview">
            <a href="#"><i class="fa fa-user-friends"></i> Usuarios
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a routerLink="users"><i class="fa fa-users"></i> Usuarios Registrados</a></li>
              <li class="treeview menu-open">
                <a routerLink="createU"><i class="fa fa-user-plus"></i> Creacion de Usuarios</a></li>
            </ul>
          </li>
          <li><a routerLink="profiles"><i class="fa fa-users-cog"></i> Roles</a></li>
        </ul>
      </li>
      <li class="header">PANEL PRINCIPAL</li>
      <li><a routerLink="dashboard1"><i class="fa fa-balance-scale"></i> <span>Balanced Scorecard</span></a></li>
      <li class="header">PANEL DE NAVEGACION</li>
      <li><a routerLink="learning"><i class="fa fa-graduation-cap"></i> <span>Aprendizaje y Crecimiento</span></a></li>
      <li><a routerLink="internal"><i class="fa fa-cogs"></i> <span>Procesos Internos</span></a></li>
      <li><a routerLink="financial"><i class="fa fa-chart-line"></i> <span>Financieros</span></a></li>
      <li><a routerLink="clients"><i class="fa fa-users"></i> <span>Clientes</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
