<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>D’ROCHA</b> S.A</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Registrar un nuevo Usuario</p>

    <form [formGroup] novalidate>

      <div class="form-group has-feedback">
        <input id="name" type="text" class="form-control" name="name" value="" placeholder="Nombre Completo..." required autofocus>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>

      </div>
      <div class="form-group has-feedback">
        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Correo Electrónico..." required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

      </div>
      <div class="form-group has-feedback">
        <input id="password" type="password" class="form-control" name="password"  placeholder="Contraseña..." required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input id="password-confirm" type="password" class="form-control" name="password_confirmation" placeholder="Confirmar Contraseña..." required>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <a href="/auth/login" class="btn btn-link">I already have a membership</a>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-round">Sign in</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.form-box -->
</div>
