<header class="main-header">
  <!-- Logo -->
  <a routerLink="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>S.A</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>D’ROCHA </b>S.A</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ auth.getUser().avatar }}" class="user-image" alt="{{ auth.getUser().name }}">
            <span class="hidden-xs">{{ auth.getUser().name }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ auth.getUser().avatar }}" class="img-circle" alt="{{ auth.getUser().name }}">

              <p>
                {{ auth.getUser().name }} - {{ auth.getUser().role }}
                <small>Miembro desde {{ auth.getUser().created_at | date: 'dd-MM-yyyy' }}</small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="profile" class="btn btn-default btn-flat">Perfil</a>
              </div>
              <div class="pull-right">
                <button type="submit" (click)="logout($event)" class="btn btn-default btn-flat">Cerrar Sesión</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
